@model InventoriumLib.PartsBin

@{
    ViewData["Title"] = "Details";
}

<h2>Details for bin '@Model.Name'</h2>

<div>
    <hr />
    <a asp-controller="Racks" asp-action="Details" asp-route-id="@Model.Rack.ID">@Html.DisplayFor(model => model.Rack.Name)</a> (X:@Html.DisplayFor(model => model.RackIndexX), Y:@Html.DisplayFor(model => model.RackIndexY), Z:
        @Html.DisplayFor(model => model.RackIndexZ))
</div>
<div style="margin-top: 15px;">
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
