@model IEnumerable<InventoriumLib.PartsBin>

@{
    ViewData["Title"] = "Bins";
}

<h2>Bins</h2>

<p>
    <a asp-action="Create">Add a Bin</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <!-- TODO: Display the host rack name as a hotlink -->
            <!-- TODO: Display the owner's name rather than their ID -->
            <th>
                @Html.DisplayNameFor(model => model.OwnerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RackIndexX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RackIndexY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RackIndexZ)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RackIndexX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RackIndexY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RackIndexZ)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
