@model IEnumerable<InventoriumLib.Item>

@{
    ViewData["Title"] = "Parts";
}

<h2>Part List</h2>

<div style="padding-top: 10px">
    <div class="row well well-sm">
        <div class="left col-sm-6">
            <a class="btn btn-default" asp-action="Create">Add a Part</a>
        </div>
        <div class="text-right col-sm-6">
            <form asp-action="Find">
                <input id="Search" type="text" name="searchString" />
                <span style="padding-left: 0px">
                    <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                    @*<span class="glyphicon glyphicon-search" title="Search"></span>*@
                </span>
            </form>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manufacturer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    Web Page
                </th>
                <th>
                    Assignment
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Features)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @if (!String.IsNullOrWhiteSpace(item.InfoUrl))
                    {
                        <a href="@item.InfoUrl" target="_blank" rel="noopener noreferrer">Info</a>
                    }
                </td>
                <td>
                    <span style="text-align: center; display: block; margin-left: auto; margin-right: auto;">
                        @if (item.Assignment.Assigned)
                        {
                            @item.Assignment.Project.Name <a class="glyphicon glyphicon-info-sign" asp-controller="Projects" asp-action="Details" asp-route-id="@item.Assignment.Project.ID"></a>
                        }
                        else
                        {
                            <a asp-action="Edit" asp-route-id="@item.ID"><span class="glyphicon glyphicon-download-alt" title="Assign"></span></a>
                        }
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Features)
                </td>
                <td>
                    @if (null != item.Bin)
                    {
                        <a asp-controller="Bins" asp-action="Details" asp-route-id="@item.Bin.ID">@Html.DisplayFor(modelItem => item.Bin.Name)</a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    <a asp-action="CreateLike" asp-route-id="@item.ID"><span class="glyphicon glyphicon-plus" title="New"></span></a>
                    <a asp-action="Edit" asp-route-id="@item.ID"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a asp-action="Details" asp-route-id="@item.ID"><span class="glyphicon glyphicon-info-sign" title="Details"></span></a>
                    <a asp-action="Delete" asp-route-id="@item.ID"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>