@model InventoriumLib.BinRack

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
        <!-- TODO: Display location -->
        <div>
            @Html.DisplayNameFor(model => model.Height): @Html.DisplayFor(model => model.Height)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Width): @Html.DisplayFor(model => model.Width)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Depth): @Html.DisplayFor(model => model.Depth)
        </div>
</div>
<div style="margin-top: 20px;">
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
