@model IEnumerable<InventoriumLib.Application>

@{
    ViewData["Title"] = "Applications";
}

<h2>Applications</h2>

<p>
    <a asp-action="Create">Add an Application</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <!-- TODO: Display the user's name rather than ID -->
            <th>
                @Html.DisplayNameFor(model => model.OwnerID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                <a asp-action="Details" asp-route-id="@item.ID"><span class="glyphicon glyphicon-info-sign" title="Details"></span></a>
                <a asp-action="Delete" asp-route-id="@item.ID"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
